# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment files
.env
.env.local
.env.*.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# iOS
ios/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.xcscmblueprint

# Android
android/
*.iml
*.hprof
